// import utilites
@import 'utilities/media-queries';

// fonts
@import 'fonts/fonts';
@import 'fonts/awesome';

// viewport
@-o-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@viewport {width: device-width;}

// import base template styles
.container.reservas {
    overflow-x:hidden !important;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    font-size: 13px;
    width: 100%;
    max-width: none;
    height:100%;
    text-align:center;
    background: #2e3f6e;
    color:#000;
    font-family: 'Roboto';

    @import 'template/reset';
    @import 'template/style';
    @import 'template/grid';
    @import 'template/plugins';
    @import 'template/dashboard-style';
    @import 'template/color';

    // import custom styles
    @import 'custom/layout';
    @import 'custom/inputs';
    @import 'custom/main-header';
    @import 'custom/hero-section';
    @import 'custom/sidebar-filters';
    @import 'custom/grid-opt';
    @import 'custom/listing';
    @import 'custom/facilities-list';
    @import 'custom/footer';
    
    // import new components
    @import 'new_components/reservation-calendar';
    @import 'new_components/booking-modal';
    @import 'new_components/booking-header';
    @import 'new_components/booking-group';
    @import 'new_components/booking-item';
    @import 'new_components/dashboard';
}

// import plugins
@import 'plugins/daterangepicker';
