.booking-modal {
    visibility: hidden;
    opacity: 0;
    z-index: 400;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;

    &.booking-modal-show {
        visibility: visible;
        opacity: 1;
    }
    
    &-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #EAEEF3;
        opacity: 0.6;
    }

    &-container {
        overflow: auto;
        position: relative;
        top: -24px;
        max-height: calc(100% - 24px);
        width: 100%;
        min-width: 320px;
        max-width: 600px;
        background: #FFFFFF;
        box-shadow: 0px 0px 24px rgba(60, 64, 73, 0.04), 0px 64px 64px rgba(60, 64, 73, 0.02), 0px 32px 32px rgba(60, 64, 73, 0.02), 0px 16px 16px rgba(60, 64, 73, 0.02), 0px 8px 8px rgba(60, 64, 73, 0.02), 0px 4px 4px rgba(60, 64, 73, 0.02);
        border-radius: 16px;
        transition: all 0.2s ease-in-out;

        .booking-modal-show & {
            top: 0;
        }
    }

    &-close {
        padding: 4px 8px;
        border: 0;
        color: #566985;
        font-size: 20px;
        line-height: 1em;
        background: transparent;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }
    }

    &-header {
        display: flex;
        justify-content: space-between;
        padding: 48px 0 24px;
        margin: 0 48px;
        border-bottom: 1px solid #EEEEEE;

        &-title {
            font-size: 22px;
            font-weight: bold;
            color: #566985;
        }
    }

    &-content {
        padding: 0 48px;
        color: #495E79;
    }

    &-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        border-bottom: 1px solid #EEEEEE;

        &:last-child {
            border-bottom: 0;
        }

        &-label {
            color: #566985;
            margin: 12px 0;
        }

        &-value {
            color: #495E79;
            
            i {
                color: #24AFFD;
                margin-right: 4px;
            }
        }

        &-warn {
            width: 100%;
            padding: 8px;
            margin-bottom: -12px;
            border-radius: 6px;
            color: #566985;
            font-size: 12px;
            background: rgba(#FFA500, 0.1);

            i {
                font-size: 16px;
                color: #FFA500;
                margin-right: 8px;
            }
        }

        &-select {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;

            > span {
                margin: 8px;
            }
        }

        .listsearch-input-item {
            width: 160px;
            margin: 8px 0;

            .nice-select {
                padding-left: 16px;
    
                &::before {
                    display: none;
                }
            }
        }
    }

    &-product {
        &-img {
            img {
                width: 200px;
                height: 100px;
                border-radius: 8px;
                object-fit: cover;
            }
        }

        &-data {
            flex-grow: 1;
            padding: 0 0 0 24px;
        }

        &-title {
            text-align: left;
            font-size: 18px;
            color: #566985;
            line-height: 1.4em;
            margin-bottom: 8px;
        }

        .geodir-category-location {
            margin-bottom: 8px;
        }
    }

    &-footer {
        text-align: right;
        padding: 32px 48px;
        background: #F6F6F6;
    }

    &-confirmation {
        display: none;
        padding: 64px 32px;

        &-button,
        &-link,
        &-accept {
            background-color: #24AFFD;
            border: 0;
            padding-top: 16px;
            padding-bottom: 16px;
            color: #fff;
            font-size: 14px;
            line-height: 1em;
            cursor: pointer;

            i {
                font-size: 18px;
                color: #fff;
            }
        }

        &-link,
        &-accept {
            height: 48px;
            padding: 16px 24px;
        }

        &-link {
            border: 1px solid #E1E4EF;
            margin: 8px;
            color: #566985;
            background-color: #F8F8F8;
        }

        &-msg {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 32px;

            i {
                margin-right: 24px;
                font-size: 56px;
                color: #4CCAAA;
            }

            p {
                text-align: left;
                color: #566985;
                line-height: 1.4em;

                strong {
                    font-size: 18px;
                    display: block;
                    margin-bottom: 4px;
                }
            }
        }
    }
}