.booking-header {
    padding: 12px;

    &_container {
        display: flex;
        justify-content: center;
    }

    &-stats {
        display: flex;
        
        &-item {
            position: relative;
            padding: 8px 16px 8px 56px;
            margin: 0 4px;
            border: 1px solid #EEEEEE;
            border-radius: 4px;
            text-align: left;

            &.current {
                border-color: #c4c1c1;
            }
            
            a {
                color: #7d93b2;

                &:hover {
                    color: #495E79;
                }
            }

            span {
                display: block;
                font-size: 18px;
                font-weight: bold;
                color: #4DB7FE;
            }

            i {
                position: absolute;
                left: 10px;
                top: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 36px;
                width: 36px;
                border-radius: 32px;
                font-size: 18px;
                padding: 8px;
                color: #4DB7FE;
                background: #F5F6FA;
            }
        }
    }
}