.booking-group {
    position: relative;
    padding: 24px 0 0;
    overflow: hidden;

    &-date {
        padding-right: 12px;
        margin-top: 8px;
        font-size: 22px;
        text-align: right;
        color: #495E79;

        &::before {
            content: '';
            position: absolute;
            right: 0;
            width: 12px;
            height: 12px;
            border: 3px solid #4DB7FE;
            border-radius: 16px;
            margin-top: 3px;
            background: #fff;
        }
    }

    &-content {
        &::after {
            content: '';
            position: absolute;
            left: -11px;
            top: 36px;
            bottom: 24px;
            width: 1px;
            // height: 100px;
            border-right: 2px dashed #e5e7f2;
        }
    }
}