.dashboard {
    &-header {
        .container {
            display: flex;
            justify-content: space-between;
    
            &::before,
            &::after {
                display: none;
            }
        }

        .add_new-dashboard {
            position: static;
            border: 0;
            color: #fff;
            background-color: #4DB7FE;

            i {
                color: #fff;
                font-size: 16px;
                vertical-align: middle;
            }
        }

        @include on(phone) {
            margin-bottom: -32px;
        }
    }

    &-breadcrumbs {
        position: static;
        padding-left: 0;

        a,
        span {
            font-size: 12px;
            font-weight: bold;
            color: #999;
        }

        a {
            &:hover {
                color: #4DB7FE;
            }
        }
    }

    &-list {
        padding: 16px;

        img {
            width: 160px;
            height: 80px;
            object-fit: cover;
            border-radius: 6px;
            box-shadow: 0 9px 16px rgba(58,87,135,0.2);
            margin-right: 20px;

            @include on(phone) {
                width: 200px;
                height: 100px;
            }
        }

        &-data {
            display: flex;

            @include on(phone) {
                flex-direction: column;
            }
        }

        &-text {
            @include on(phone) {
                margin-top: 12px;
            }
        }

        &-items {
            display: flex;
            flex-wrap: wrap;
            margin-right: 132px;

            @include on(phone) {
                margin-right: 0;
            }

            > * {
                margin-right: 8px;
                margin-bottom: 8px;
                color: #7d93b2;

                strong {
                    margin-right: 4px;
                    color: #566985;
                }
            }
        }

        &-title {
            font-size: 16px;
            text-align: left;
            margin-bottom: 8px;
            
            a {
                color: #566985;

                &:hover {
                    color: #4DB7FE;
                }
            }
        }
    }

    &-form {
        &::after {
            content: '';
            display: block;
            clear: both;
        }
        
        &-activos {
            // margin-bottom: 140px !important;

            @include on(phone) {
                // margin-bottom: 40px !important;
            }

            &-buttons {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 16px;

                button {
                    box-sizing: border-box;
                    height: 40px;
                    min-width: 40px;
                    padding: 12px;
                    margin: 0 3px;
                    border-radius: 32px;
                    color: #fff;

                    &:disabled {
                        opacity: 0.5;
                        background-color: #ccc;
                    }
                }
            }

            &-item {
                @include on(phone) {
                    > div {
                        clear: both;
                    }
                }
            }
        }

        &-submit {
            display: flex;
            justify-content: flex-end;
            padding: 16px;

            button {
                padding-top: 16px;
                padding-bottom: 16px;
                border: 0;
                margin: 0;
                font-size: 14px;
                background-color: #24AFFD;
                cursor: pointer;

                i {
                    color: #fff;
                }
            }
        }
    }
}