.reservation-calendar {
    clear: both;
    display: flex;
    align-items: flex-end;
    // border-top: 1px solid #EBEBEB;
    padding: 16px 20px 0;
    margin: 16px;
    background-color: #F5F7F9;
    border-radius: 8px;

    ol {
        list-style: none;
        padding-left: 0;
    }

    &-days {
        padding-bottom: 18px;

        li {
            text-align: left;
            white-space: nowrap;
            color: #495E79;
            font-size: 12px;
            font-weight: bold;
            padding: 6px;

            &.search {
                color: #4DB7FE;
            }
        }
    }

    &-container {
        overflow-x: auto;
        padding-bottom: 16px;
        margin-right: -20px;
        -ms-overflow-style: none;
        scrollbar-width: 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-slide {
        width: auto;
    }

    &-hours {
        display: flex;
        
        li {
            font-size: 11px;
            white-space: nowrap;
            min-width: 64px;
            margin: 0 2px;
            line-height: 16px;
            color: #799AC2;
            flex-basis: 64px;

            &.search {
                color: #4DB7FE;
            }
        }
    }

    &-buttons {
        position: relative;
        display: flex;
        width: fit-content;
        padding-right: 20px;
        margin: 8px 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 20px;
            background-color: #E8ECF1;
            border-radius: 16px;
        }

        a {
            position: relative;
            min-width: 30px;
            height: 16px;
            border: 1px solid #5883B7;
            background-color: rgba(#fff, 0.8);
            // background-color: #5883B7;
            margin: 0 2px;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: #799AC2;

                span {
                    visibility: visible;
                }
            }

            &:nth-child(odd) {
                border-radius: 16px 0 0 16px;
            }

            &:nth-child(even) {
                border-radius: 0 16px 16px 0;
            }

            &.ok {
                border-color: #FFB737;

                &:hover {
                    background-color: rgba(#FFB737, 0.8);
                }

                &.search {
                    border-color: #24AFFD;

                    &:hover {
                        background-color: rgba(#24AFFD, 0.8);
                    }
                }
            }

            &.own {
                border: 1px solid #5883B7;
                background-color: #5883B7;
            }

            &.taken {
                visibility: hidden;
            }

            span {
                visibility: hidden;
                position: absolute;
                top: -24px;
                left: 50%;
                transform: translate(-50%);
                display: block;
                padding: 2px 8px;
                white-space: nowrap;
                font-size: 11px;
                color: #fff;
                background: rgba(#2a415e, 0.8);
                border-radius: 3px;
            }

            &:first-child {
                span {
                    left: 0;
                    transform: translate(0);
                }
            }

            &:nth-child(2) {
                span {
                    left: 25%;
                    transform: translate(-25%);
                }
            }

            &:last-child {
                span {
                    left: auto;
                    right: 0;
                    transform: translate(0);
                }
            }

            &:nth-last-child(2) {
                span {
                    left: auto;
                    right: 25%;
                    transform: translate(25%);
                }
            }
        }
    }

}