<!-- listing-item  -->
<div class="listing-item">
    <article class="geodir-category-listing fl-wrap">
        <div class="geodir-category-img">
            <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
            <img src="/assets/imgs/samples/sala-norte-2.jpg" alt=""> 
            </a>
            <div class="geodir_status_date gsd_close"><i class="far fa-clock"></i>Disponible otro día</div>
        </div>
        <div class="geodir-category-content fl-wrap title-sin_item">
            <div class="geodir-category-content-title fl-wrap">
                <div class="geodir-category-content-title-item">
                    <h3 class="title-sin_map"><a href="listing-single.html">Sala de reuniones - Norte</a></h3>
                    <div class="geodir-category-location fl-wrap"><span ><i class="fa fa-map-marker-alt"></i> Oficinas Naranjo</span></div>
                </div>
            </div>
            <div class="geodir-category-text fl-wrap">
                <div class="facilities-list">
                    <ul class="no-list-style">
                        <li><i class="far fa-users-class"></i> <span>4 personas</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- CAMBIO: Se saca reservation-calendar y se pone a la par de geodir-category-content -->
        <!-- reservation calendar -->
        <div class="reservation-calendar">
            <!-- reservation calendar: days -->
            <ol class="reservation-calendar-days">
                <li>Lun. 21</li>
                <li class="search">Mar. 22</li>
                <li>Mié. 23</li>
            </ol>
            <div
                class="reservation-calendar-container"
                data-start="07:00AM"
                data-end="11:00AM"
                data-time="90"
            >
                <!-- CAMBIO: se agregan la clase swiper-wrapper -->
                <div class="reservation-calendar-wrapper swiper-wrapper">
                    <!-- CAMBIO: se agregan la clase swiper-slide -->
                    <div class="reservation-calendar-slide swiper-slide">
                        <!-- reservation calendar hours -->
                        <ol class="reservation-calendar-hours">
                            <li class="search">07:00 AM</li>
                            <li class="search">08:00 AM</li>

                        </ol>
                        <!-- reservation buttons day prev -->
                        <div class="reservation-calendar-buttons">
                            <a href="#" data-hour="07:00 AM" class="booking-modal-open taken">
                                <span></span>
                            </a>
                            <a href="#" data-hour="07:30 AM" class="booking-modal-open taken">
                                <span></span>
                            </a>
                        </div>
                        <!-- reservation buttons day searched -->
                        <div class="reservation-calendar-buttons search">
                            <a href="#" data-hour="07:00 AM" class="booking-modal-open search ok">
                                <span>07:00 AM - 8:30 AM</span>
                            </a>
                            <a href="#" data-hour="07:30 AM" class="booking-modal-open search ok">
                                <span>07:30 AM - 9:00 AM</span>
                            </a>
                        </div>
                        <!-- reservation buttons day next -->
                        <div class="reservation-calendar-buttons">
                            <a href="#" data-hour="07:00 AM" class="booking-modal-open">
                                <span>07:00 AM - 8:30 AM</span>
                            </a>
                            <a href="#" data-hour="07:30 AM" class="booking-modal-open">
                                <span>07:30 AM - 9:00 AM</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <!-- reservation calendar end -->
    </article>
</div>
<!-- listing-item end -->   