.facilities-list {
    display: flex;
    float: none;
    clear: both;
    margin: 4px 0;
    
    li {
        // color: #7d93b2;
        float: none;
        color: #4DB7FE;
        font-size: 12px;

        i + span {
            margin-left: 4px;
        }

        &:hover {
            i {
                color: #4DB7FE;
            }
        }
    }
}