.main-footer {
    .footer-links {
        display: flex;
        align-items: center;

        .footer-logo {
            margin-bottom: 0;
        }
        
        .footer-contacts-widget {
            ul {
                display: inline-block;
                margin: 0 auto;
            }
        }

        .footer-contacts {
            li {
                margin: 12px;
            }
        }

        .footer-social {
            margin-top: 0;
        }
    }
}


.sub-footer {
    .copyright,
    .subfooter-nav {
        top: 0;
    }

    .subfooter-nav {
        &::before {
            display: none;
        }
    }
}