.grid-opt {
    position: absolute;
    right: 16px;
    top: 16px;

    .grid-opt_act {

        span {
            float: none;
            padding: 0;
            display: inline-block;
        }

        i {
            font-size: 18px;
        }
    }
}