.hero-section {
    display: flex;
    align-items: center;
    // min-height: calc(100vh - 80px);
    min-height: calc(100vh);

    .tabs-menu {
        li {
            a {
                i {
                    display: block;
                    margin-bottom: 8px;
                    font-size: 24px;
                    text-align: center;
                }

                &::before {
                    top: auto;
                    bottom: -16px;
                }
            }

        }
    }

    .main-search-input {
        display: flex;

        @include on(tablet) {
            flex-direction: column;
        }

        .input-item {
            &-place {
                flex-grow: 1;
            }

            &-date {
                width: 30%;
            }

            &-hour,
            &-time {
                width: 20%;
            }

            @include on(tablet) {
                &-place,
                &-date,
                &-hour,
                &-time  {
                    width: auto;
                }
            }
        }
    }
}