.nice-select {
    &.open {
        .list {
            z-index: 9;
        }
    }
}

// input item
.input-item {
    &-place {
        .nice-select {
            &::before {
                content: "\f041";
            }
        }
    }
    &-hour {
        .nice-select {
            &::before {
                content: "\f017";
            }
        }
    }

    &-time {
        .nice-select {
            &::before {
                content: "\f252";
            }
        }
    }

    &-date {
        .iconn-dec {
            bottom: 50% !important;
            transform: translate(0, 50%);
        }
    }
}

// filter tags
.filter-tags {
    input {
        &:checked::after {
            z-index: 1;
        }
    }
}

// clear
.clear-singleinput {
    display: none;
    bottom: 16px;

    .filled + & {
        display: block;
    }
}

// custom form
.custom-form {
    input {
        &[type='number'] {
            border: 1px solid #e5e7f2;
            background: #f9f9f9;
            width: 100%;
            padding: 15px 20px 15px 45px;
            color: #7d93b2;
            font-size: 12px;

            &::placeholder {
                color: #7d93b2;
                font-weight: 500;
                font-size: 12px;
                font-family: 'Roboto' ;
            }
        }

        &.no-icon {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

// fuzone
.fuzone {
    .fu-text {
        line-height: 1.4em;
    }
}

// nice-select
.nice-select {
    &-search {
        padding: 8px 8px 8px 32px !important;

        &-box {
            &::before {
                bottom: auto;
                top: 50%;
                left: 16px;
                transform: translate(0, -45%);
                height: 50px;
            }
        }
    }
}