.listing-item {
    &-container {
        &.nocolumn-lic {
            padding-top: 0;
        }
    }

    .geodir-category-img {

        .geodir-category-img-wrap {
            height: 100%;

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        .gsd_open {
            background-color: #4DB7FE;
        }

        .gsd_open-later {
            background-color: #fac039;
        }
    }

    .geodir-category-content {
        position: relative;
        z-index: 10;
        top: -1px;
        background: #fff;
    }

    .geodir-category-content-title {
        border-bottom: 0;
        z-index: 1;
        position: relative;
        margin-bottom: 0;
    }

    .geodir-category-hours {
        overflow: hidden;
        list-style: none;
        margin-bottom: 16px;
        
        li {
            float: left;
            font-size: 11px;
            margin: 4px 10px 4px 0;
            color: #999;
            text-align: left;
            
            &.geodir-category-hours-label {
                font-weight: bold;
                float: none;
                color: #566985;
                margin-right: 24px;
                font-size: 12px;
            }

            &.closed {
                text-decoration: line-through;
                opacity: 0.4;
            }
        }
    }

    // one column
    &.has_one_column {
        .geodir-category-img {
            margin: 8px 0 8px 8px;
            width: calc(28% - 8px);

            .geodir_status_date {
                top: 8px;
                right: 8px;
            }

            @include on(phone) {
                width: auto;
                margin: 8px;
            }
        }

        .geodir-category-content {
            top: auto;

            @include on(phone) {
                width: auto;
                // margin: 8px;
            }
        }

        .reservation-calendar {
            margin: 8px;
        }
    }
}