.filter-sidebar-header {
    margin-bottom: 0;
}

.back-tofilters {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.scroll-to-fixed-fixed {
        visibility: visible;
        opacity: 1;
    }
}